<!DOCTYPE html>{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-language" content="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Chronopay_Okko{% endblock %}</title>
    <link href="{% static 'desktop/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'desktop/css/futura.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main">
    <div class="header">
        <a href="http://movies.okko.tv" target="_blank"><img class="logo" alt="Окко"
                                                             src="{% static 'desktop/images/okko_dark.svg' %}"></a>
    </div>
    {% block core %}
    {% endblock %}
</div>
<div class="footer-holder">
    <div class="footer">
        {% block footer %}
            Введенная персональная информация хранится исключительно банком.
            Данный сайт поддерживает <span class="nobr">128-битное</span>
            <span class="nobr">SSL-шифрование</span> для большей безопасности. Любая информация, переданная
            на данную страницу, в безопасности и защищена специальными средствами. Служба поддержки:
            <span class="nobr">{{ settings.SUPPORT_PHONE_FORMATTED }}</span>,
            <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
        {% endblock %}
    </div>
</div>
</body>
