{% extends "old/base/okko-mobile-base.html" %}

{% block title %}Платёж зачислен!{% endblock %}

{% block core %}
    <div class="head clearfix">
        <h1>Платёж зачислен!</h1>
    </div>
    <div class="msg">
        <div class="status-comment">
            Информация:
        </div>
        <!-- таблица результатов -->
        <div class="table-result">
            <ul>
                {% if transaction.fingerprint.client_email %}
                    <ul>
                        <div class="th">E-mail владельца карты</div>
                        <div class="td">{{ transaction.fingerprint.client_email }}</div>
                    </ul>
                {% endif %}
                <ul>
                    <div class="th">Номер кредитной карты</div>
                    <div class="td">{{ transaction.pan_mask }}</div>
                </ul>
                <ul>
                    <div class="th">Сумма платежа</div>
                    <div class="td">{{ transaction.invoice_amount }} {{ transaction.currency }}</div>
                </ul>
                <ul>
                    <div class="th">ID транзакции</div>
                    <div class="td">{{ transaction.public_id }}</div>
                </ul>
            </ul>
        </div>
    </div>
    <div>
        {% if transaction.cancel_url %}
            <a href="{{ transaction.cancel_url }}"><button class="form-submit" type="submit">Вернуться в магазин</button></a>
        {% elif merchant %}
            <a href="{{ merchant.url }}"><button class="form-submit" type="submit">Вернуться в магазин</button></a>
        {% endif %}
    </div>
{% endblock %}
