{% extends "old/base/okko-tv2-base.html" %}
{% load static %}

{% block title %}{% if is_testing %}[ТЕСТ] {% endif %}Оплата покупки{% endblock %}

{% block body %}
{% if invoice_form.errors %}
    {# TODO: отобразить сообщение об ошибке  #}
    <!-- {{ invoice_form.errors }} -->
{% else %}
<div id="cardForm" class="window-box">
    <a id="keyhole" href="javascript:void(0);"></a>
    <div id="chronopay_frame" class="chronopay_frame">
        <div id='error_line' class="error_line hide">ДАННЫЕ КАРТЫ ВВЕДЕНЫ НЕВЕРНО. ПОВТОРИТЕ ВВОД</div>
        <div class="numpad">
            <div id="num1" class="num"><div class="num_val">1</div></div>
            <div id="num2" class="num"><div class="num_val">2</div></div>
            <div id="num3" class="num"><div class="num_val">3</div></div>
            <div id="num4" class="num"><div class="num_val">4</div></div>
            <div id="num5" class="num"><div class="num_val">5</div></div>
            <div id="num6" class="num"><div class="num_val">6</div></div>
            <div id="num7" class="num"><div class="num_val">7</div></div>
            <div id="num8" class="num"><div class="num_val">8</div></div>
            <div id="num9" class="num"><div class="num_val">9</div></div>
            <div id="num11" class="num"><div class="num_val"><div class="icon left"></div></div></div>
            <div id="num12" class="num"><div class="num_val"><div class="icon right"></div></div></div>
            <div id="num0" class="num"><div class="num_val">0</div></div>
        </div>
        <div class="card_data">
            <div class="input_label card_number">НОМЕР КАРТЫ:</div><div class="input_logo"></div>
            <div id="card_number" class="input_container card_number"></div>
            <div class="input_label expire">СРОК ДЕЙСТВИЯ КАРТЫ:</div>
            <div class="input_label card_cvv">CVV-КОД:</div>
            <div id="card_month" class="input_container expire_month"></div>
            <div id="card_year" class="input_container expire_year"></div>
            <div id="card_cvv" class="input_container card_cvv"></div>
            <div id="cancel_btn" class="action_button">ОТМЕНА</div>
            <div id="ok_btn" class="action_button done">ПРОДОЛЖИТЬ</div>
        </div>
        <div class="icon_visa_master_secure"></div>
        <div class="message_rights">
            Введенная персональная информация хранится исключительно банком.
            Данный сайт поддерживает <span class="nobr">128-битное</span>
            <span class="nobr">SSL-шифрование</span> для большей безопасности. Любая информация, переданная
            на данную страницу, в безопасности и защищена специальными средствами. Служба поддержки:
            <span class="nobr">{{ settings.SUPPORT_PHONE_FORMATTED }}</span>,
            <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
        </div>
    </div>

	<form method="post" action="{{ request.path }}" autocomplete="off" style="visibility: hidden; height: 0">
        {{ invoice_form.as_p }}
        {% csrf_token %}
        <input name="PAN" id="PAN" value="{{ payment_form.PAN.value|default:'' }}" type="hidden">
        <input name="month" id="month" value="{{ payment_form.month.value|default:'' }}" type="hidden">
        <input name="year" id="year" value="{{ payment_form.year.value|default:'' }}" type="hidden">
        <input name="CVV" id="CVV" value="{{ payment_form.CVV.value|default:'' }}" type="hidden">
        <input type="submit" id="paymentFormSubmit"/>
    </form>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ request.is_secure|yesno:'https,http' }}://{{ request.get_host }}{% static 'tv-okkotv/js/main-form.js' %}" type="text/javascript"></script>
{% endblock %}
