{% extends "old/base/okko-tv-base.html" %}
{% load static %}

{% block title %}{{ title|default:'Ошибка' }}{% endblock %}

{% block body %}
    <div class="title bold">{{ title|default:'Ошибка!' }}</div>
    <div class="message fail">
        {% if simple %}
            <p>Ваш запрос отклонен.<br/>
            Оплата и&nbsp;списание средств не&nbsp;произведены.</p>
        {% else %}
            <p>
                Пожалуйста, попробуйте еще раз.
            </p>
            <p>
                Для получения более подробной информации обратитесь в службу
                поддержки Futubank по телефону {{ settings.SUPPORT_PHONE_FORMATTED }}
                или по адресу электронной почты
                <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>. <br />
                Наш центр поддержки работает в режиме 24/7,
                а на почту мы гарантировано ответим вам
                в течение одного часа или еще быстрее.
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            Platform.log('[c] loaded');
            Platform.postMessage(['rejected'],'*');
        });
    </script>
{% endblock %}
