{% extends "old/base/okko-mobile-base.html" %}
{% load static %}

{% block title %}{{ title|default:'Ошибка' }}{% endblock %}

{% block core %}
    <div class="head clearfix">
        <h1>{{ title|default:'Ошибка!' }}</h1>
    </div>
    <div class="msg decline">
        <img src="{% static 'mobile/images/error.png' %}" width="80" height="80" alt=""/>
        {% if simple %}
            <p>Ваш запрос отклонен.<br/>
            Оплата и&nbsp;списание средств не&nbsp;произведены.</p>
        {% else %}
            <p class="t4">
                Пожалуйста, попробуйте еще раз.
            </p>
            <p>
                Для получения более подробной информации обратитесь в службу
                поддержки Futubank по телефону
                <span class="nobr"><a href="tel:{{ settings.SUPPORT_PHONE }}">{{ settings.SUPPORT_PHONE_FORMATTED }}</a></span>,
                или по адресу электронной почты
                <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
                Наш центр поддержки работает в режиме 24/7,
                а на почту мы гарантировано ответим вам
                в течение одного часа или еще быстрее.
            </p>
        {% endif %}
    </div>
    <div>
        {% if invoice_form %}
            <form class="btn-wrap" action="{% url 'payment-page' %}" method="post">
                {{ invoice_form.as_p }}
                <button class="form-submit" type="submit">Повторить</button><br/>
                <br/>
            </form>
        {% endif %}
        {% if back_url %}
            <a href="{{ back_url }}">
                <button class="form-submit" type="button">Вернуться в магазин</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
