{% extends "old/base/okko-playlite-base.html" %}

{% block title %}Платёж зачислен!{% endblock %}

{% block core %}
    <h3>
        Ваша операция успешно обработана.
        {% if transaction.fingerprint.client_email %}
            <br>
            Информация о прошедшей операции была выслана<br>
            на ваш электронный адрес
        {% endif %}
    </h3>
    <dl class="summary clearfix">
        <dt>Сумма платежа</dt>
        <dd>{{ transaction.invoice_amount }} {{ transaction.currency }}</dd>
        {% if transaction.fingerprint.client_email %}
            <dt>E-mail владельца карты</dt>
            <dd>{{ transaction.fingerprint.client_email }}</dd>
        {% endif %}
        <dt>Номер карты</dt>
        <dd>{{ transaction.pan_mask }}</dd>
        <dt>ID транзации</dt>
        <dd>{{ transaction.public_id }}</dd>
    </dl>
    <div class="button-holder">
        {% if transaction.cancel_url %}
            <a href="{{ transaction.cancel_url }}" class="button">Завершить</a>
        {% elif merchant %}
            <a href="{{ merchant.url }}" class="button">Завершить</a>
        {% endif %}
    </div>
{% endblock %}
