{% extends "old/base/okko-tv-base.html" %}
{% load static %}

{% block title %}Платёж зачислен!{% endblock %}

{% block body %}
    <div class="title bold">{{ title|default:'Платёж зачислен!' }}</div>
    <table class="message success">
        {% if transaction.fingerprint.client_email %}
            <tr>
                <td>E-mail владельца карты</td>
                <th>{{ transaction.fingerprint.client_email }}</th>
            </tr>
        {% endif %}
        <tr>
            <td>Номер кредитной карты</td>
            <th>{{ transaction.pan_mask }}</th>
        </tr>
        <tr>
            <td>Сумма платежа</td>
            <th>{{ transaction.invoice_amount }} {{ transaction.currency }}</th>
        </tr>
        <tr>
            <td>ID транзакции</td>
            <th>{{ transaction.public_id }}</th>
        </tr>
    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            Platform.log('[c] loaded');
            Platform.postMessage(['success'],'*');
        });
    </script>
{% endblock %}
